.lessonTitle {
	font-family: "Noto Sans", sans-serif;
	text-align: center;
	margin-bottom: 0;
	font-weight: bold;
	line-height: 32px;
	font-size: 22px;
	letter-spacing: 0.4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.lessonCard {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	max-width: 168px;
	vertical-align: top;
	margin-right: 18px;
	position: relative;
}

.lessonLink {
	display: block;
	text-decoration: none;
}

.cardTitle {
	height: 20px;
}

.lessonCardPreview {
	height: 160px;
	width: 160px;
	background-position: -5px -4px;
	background-size: center;
	margin: 0px 0px 0px 5px;
	border-radius: 10px;
	position: relative;
}

.lessonCardBlock {
	display: block;
	box-sizing: border-box;
	height: 160px;
	width: 160px;
	position: absolute;
	border: 4px solid #8bc27f;
	border-radius: 10px;
	top: 20px;
}

.lessonCardName {
	padding: 0 5px 0 0;
	display: block;
	margin-top: 13px;
	font-family: "Noto Sans", sans-serif;
	line-height: 20px;
	font-size: 15px;
	text-align: center;
	color: #000;
	transition: 0.3s;
}

.lessonCard:hover .lessonLink .lessonCardName {
	color: blue;
}